---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import Card from '../components/theme-creek/HomeCard.astro'
import Home from '../components/Home.vue'
import Nav from '../components/theme-creek/Nav.astro'
import HomeHeader from '../components/theme-creek/HomeHeader.astro'

const title = 'Creek'
const description = 'A Theme for Astro'

const allPosts: any = await getCollection('posts')
const sortedPosts = allPosts.sort(
	(a: any, b: any) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
)
---

<Layout title="blog">
	<Nav />

	<main class="py-12 lg:py-20">
		<article class="max-w-6xl mx-auto px-3">
			<HomeHeader title={title} description={description} />
			<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8" data-test="articles-section">
				{
					sortedPosts.map((p: any) => (
						<div class="col-span-1">
							<Card post={p} />
						</div>
					))
				}
			</section>
		</article>
	</main>
</Layout>

<style></style>
